[user]
    email = matt@mattsn0w.com
    name = Matt Snow
    signingkey = ~/.ssh/id_ed25519.pub

[credential]
    helper = "!f() { echo username=Mattsn0w; echo \"password=$GITHUB_TOKEN\"; };f"
[gpg]
    format = ssh
[commit]
    gpgsign = true
[gpg "ssh"]
    allowedSignersFile = ~/.ssh/authorized_signers
[init]
    defaultBranch = main

